@import "tailwindcss";

:root {
  --background: #f4ebe4;
  --foreground: #291e1b;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

/* Custom sleek scrollbar utility */
.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}